/*header css*/

.logo img{
      width: 250px;
      height:140px ; 
      position: absolute;
      top: 0px;
      left: 0px;
  
  
  }
  .wrapper{
      width: 1170px;
      margin: 0 auto;
      height: 100px;
      background:rgba(29, 29, 28, 0.479);
      width: 100%;
      z-index: 12;
      
  }
 header{
      height: 100px;
      background:rgba(223, 154, 154, 0.2);
      width: 100%;
      z-index: 12;
  }
  nav{
      float: right;
      line-height: 100px;
  
  }
  nav a {
      text-decoration:none; 
      font-size:14px;
      color:#fff;
      font-family:sans-serif;
      letter-spacing: 1px;
      margin: 0 10px; 
      padding: 7px 7px;
      border-radius: 3px;
  }
  nav a:hover{
      background: #ffa722;
  
  }
  .navbarContact
  {
    background-color: #ffa722;
    color: white;
  }
  
  /*footter*/
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container{
    max-width: 1170px;
    margin: auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  .footer{
    background:rgba(0,0,0,0.4);
    padding: 70px 0;
  }
  .footer-col{
    width: 25%;
    padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ffa722;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
  color: #ffff;
  padding-left: 8px;
  }
  .footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffff;
  transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffe7a6;
  }
  